.traveler--header {
  text-align: center;
  padding-bottom: 1rem;
}

.traveler--cards,
.pending--cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: scroll;
}

.button-delete {
  margin: 0.2rem 0 0.2rem 0;
}
