* {
  // border: 1px solid black;
}

body, html {
  background-color: $color-ming;
  font-family: $font-primary;
  height: 100vh;
  margin: 0 1rem 0 1rem;
  padding: 0;
}

h3 {
  margin: 1rem 0 1rem 0;
  padding: 0;
}

.hidden {
  display: none !important;
}

.header {
  align-items: center;
  display: flex;
  height: 10%;
  justify-content: space-between;
  padding: 0 1rem 0 1rem;

  .logo {
    align-items: center;
    display: flex;
  }

  .slogan {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  button {
    @include button-primary;
  }

  h2 {
    margin: 0;
  }

  img {
    height: 40px;
  }
}

.welcome {
  background-color: $color-honey;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.container {
  height: 88%;
}

.dashboard {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-areas:
    "welcome planning planning planning"
    "trips trips trips trips";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr;
  height: 100%;
}

#welcome {
  grid-area: welcome;
}

#planning {
  grid-area: planning;
}

#trips {
  grid-area: trips;
}
