* {
  // border: 1px solid black;
}

.login {
  align-items: center;
  display: flex;
  justify-content: center;
}

.login--main {
  align-items: center;
  background-color: $color-eagle-green;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80vh;
  width: 80vw;
}

.login--body {
  align-items: center;
  display: flex;
  justify-content: space-between;

  button {
    @include button-primary;
  }
}

.login--form {
  align-items: center;
  background-color: $color-jungle-green;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 25rem;
  margin: 2rem;
  width: 15rem;

  input {
    font-size: 18px;
    height: 20px;
    width: 180px;
  }
}
