.planning {
  background-color: $color-jungle-green;
  border-radius: 1rem;
  color: $color-almond;
  // max-height: 28vh;
  padding: 1rem;

  &--form {
    width: 100%;
  }

  &--text {
    margin: 0.2rem 0 0 0;
  }

  &--title {
    margin: 0;
  }

  .button {
    @include button-primary;
  }
}

.form--section {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.planning--dropdown {
  height: 24px;
  min-width: 48px;
}

#planning--warning {
  font-size: 14px;
  margin: 0;
}
