.trip {
  @include grid-presets-4x1
  grid-template-areas:
    "previous present upcoming pending";
  overflow: hidden;

  &--article {
    align-items: center;
    background-color: $color-eagle-green;
    border-radius: 1rem;
    color: $color-almond;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    padding: 1rem;
  }
}

.trip--card {
  align-items: center;
  background-color: $color-amaranth;
  color: $color-eagle-green;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0.5rem 0 0.5rem 0;
  text-align: center;
  width: 90%;

  &:hover {
    cursor: default;

    .card--image {
      opacity: 50%;
      transition: .8s ease;
    }
  }

  h4 {
    font-size: 18px;
    margin: 2rem 0 2rem 0;
    z-index: 1;
  }

  h5 {
    font-size: 16px;
    margin: 0.5rem 0 0.5rem 0;
    text-decoration: underline;
  }

  p {
    font-size: 14px;
    margin: 0.5rem 0 0.5rem 0;
  }
}

.card {
  &--header {
    position: relative;
    width: 100%;
  }

  &--body {
    padding: 0.4rem;
  }

  &--image {
    top: 0;
    right: 0;
    height: 100px;
    position: absolute;
    object-fit: cover;
    opacity: 0;
    width: 100%;
  }
}

#trip--present {
  grid-area: present;
}

#trip--upcoming {
  grid-area: upcoming;
}

#trip--pending {
  grid-area: pending;
}

#trip--previous {
  grid-area: previous;
}
